#grandparent{
    background-color: aquamarine;
    height: 400px;
    width: 400px;
    padding: 20px;

}

#parent{
    background-color: blue;
    height: 300px;
    width: 300px;
    padding: 20px;

}

#child{
    background-color: green;
    height: 200px;
    width: 200px;
    padding: 20px;

}